.killzone-wrapper {
    transition: opacity 1s ease-in-out;
}

.killzone-message {
    font-size: 2em;
    text-align: center;
    animation: fadeIn 1s;
}

.killzone-countdown {
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
